.astronautThumbNail > img{
    height: 25em !important;
    object-fit: cover;
  }

  .astronautContent {
    color: whitesmoke;
    font-weight: bold;
    font-size: medium;
    background-color:black !important;
  }

  @media only screen and (max-width: 768px) {
    /* For mobile phones: */
    .astronautThumbNail > img{        
      object-fit: cover;
      width: 100% !important;
    }

    .astronautContent{
      font-size: smaller !important;
    }
  }

  .astronaut_details_img{
    height: 22em !important;
    object-fit: fill !important;
  }